html, body, div {
  will-change: transform !important;
	animation: fall 5s infinite linear !important;
}
@keyframes fall {
  0%   {left:0%; top:0%;}
  25%  {left:100%; top:0%;}
  50%  {left:100%; top:100%;}
  75%  {left:0%; top:100%;}
  100% {left:0%; top:0%;}
}
