html, body, div {
  will-change: transform !important;
	animation: fall 5s infinite linear !important;
}
@keyframes fall {
  0% {
    transform:  translate(250px,152px)  rotate(0deg) ;
  }
  50% {
    transform:  translate(2px,-26px)  rotate(90deg) ;
  }
  51% {
    transform:  translate(6px,-26px)  rotate(92deg) ;
  }
  100% {
    transform:  translate(200px,0px)  rotate(180deg) ;
  }
}
