body, html {
 background: black !important;
}
body::-webkit-scrollbar-track {
    background: light-blue !important; 
}
body::-webkit-scrollbar-thumb {
    background: #b9ef43 !important; 
}
body::-webkit-scrollbar-thumb:hover {
   background: #89d3af !important; 
}
