body, html {
 background: black !important;
}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #42f4b9;
    }
::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(65, 244, 143, 0.75);
}
::-webkit-scrollbar-corner {
    background: #42f4b9;
}
blocked.com-default.ws##.bypassCont {
	content:url("https://upload.wikimedia.org/wikipedia/commons/5/5e/Exclamation.svg");	
}
