body, html {
 background: black !important;
}
body::-webkit-scrollbar {
    width: 0.2em;
}
body::-webkit-scrollbar-track {
    background-color: light-blue !important; 
}
body::-webkit-scrollbar-thumb {
    background-color: #b9ef43 !important; 
}
body::-webkit-scrollbar-thumb:hover {
   background-color: #89d3af !important; 
}
